body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body,html{font-size:12px;font-family: PingFang SC,tahoma,arial;background: #fff;height:100%;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;border:none;background: none}
textarea{resize:none;}
a{text-decoration:none;}
header{
    width:100%;
    height: 51px;
    background: #fff;
    border-bottom: 1px solid #eee;
}
#nav{
    width: 318px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.recommend{
    width: 318px;
    height: 100%;
    background: #5aa4ff;
    border-right: 2px solid #eee;
    box-shadow: 0 2px 4px #999;
    z-index: 1;
}
.nav_img{
    font-size: 0;
}
.nav_img:before{
    content: "";
    width: 320px;
    height: 280px;
    display: block;
    position: absolute;
    background: #5aa4ff;
    opacity: 0;
}
.nav_search{
    width: 100%;
    height: 64px;
    background: #5aa4ff;
    border-bottom: solid 1px rgba(71, 128, 200, 0.51);
    display:-webkit-flex;
    display:flex;
    justify-content:center;
    align-items: center;
    position: relative;
}
.nav_search .search{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background:url("../image/book/search1.png") no-repeat 6px 6px #4985cf;
    position: absolute;
    right: 20px;
    cursor: pointer;
    z-index: 1;
}
.nav_search input{
    width: 276px;
    height: 38px;
    border-radius: 40px;
    display: inline-block;
    border: 1px solid #fff;
    background: #fff;
    color: #000;
    font-size: 16px;
    padding-left: 12px;
    font-family: PingFang SC;
}
.nav_search input b{
    position: relative;
    top: 24px;
    right: -42px;
    font-weight: normal;
}
.ink {
    display: block;
    position: absolute;
    background: rgba(255,255,255,.3);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}
.animate-ink {
    -webkit-animation: ripple .5s linear;
    -moz-animation: ripple .5s linear;
    -ms-animation: ripple .5s linear;
    -o-animation: ripple .5s linear;
    animation: ripple .5s linear
}
@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5)
    }
}
@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5)
    }
}
@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5)
    }
}
@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5)
    }
}
.nav_list ul li ul{
    display: block;
    position: static;
 }
.nav_list ul{
    width: 100%;
    font-size: 16px;
    text-align: left;
}
.nav_list .search_list{
    width: 100%;
    font-size: 16px;
    text-align: left;
    height: 0;
    overflow: hidden;
}
.nav_list ul li a{
    height: 48px;
    color: #fff;
    position: relative;
    overflow: hidden;
    border-bottom: solid 1px rgba(71, 128, 200, 0.51);
    display: flex;
    align-items: center;
    transition: color .2s linear,background .2s linear;
}
.nav_list .bg{
    background: #4990da;
}
.nav_list .read,.nav_list .star,.nav_list .type{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 14px 0 20px;
}
.nav_list .read{
    background: url("../image/book/read.png");
}
.nav_list .star{
    width: 18px;
    height: 18px;
    background: url("../image/book/star.png");
    position: relative;
    left: -2px;
}
.nav_list .type{
    background: url("../image/book/search.png");
}
.nav_list .more{
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: -172px;
    transition: .3s;
}
.nav_list .moreClick{
    transform: rotate(45deg);
}
.nav_list .search_list li{
    color: #fff;
    width: 100%;
    height: 48px;
    background: #383838;
    display: flex;
    align-items: center;
    text-indent: 2em;
    cursor: pointer;
    float: left;
    clear: both;
    position: relative;
}
.nav_list .search_list li a{
    width: 100%;
    border-right: 8px solid #383838;
    overflow: hidden;
    transition: .3s;
}
.nav_list>ul>li>a:hover{
    background: rgba(71, 128, 200, 0.51);
    cursor: pointer;
}
.nav_list .search_list li a:hover{
    border-right-color: rgba(85, 159, 244, 1);
}
#BookContent{
    position: absolute;
    top: 0;
    left: 320px;
    right: 0;
    height: 100%;
    background: #fff;
}
/********************************************************************************************/
#BookLoad{
    display: none;
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
}
/**********************loading******************/
#BookLoad .ball{
    text-align: center;
    vertical-align: middle;
    width:100%;
    height: 100%;
}
.BookList{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.BookList ul,.BookSearch ul{
    width: 100%;
}
.BookList ul li,.BookSearch ul li {
    width: 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    background-color: #fff;
    transition: .3s;
    float: left;
}
.BookList ul li:hover,.BookSearch ul li:hover{
    transform: translateY(-10px);
    box-shadow: 0 3px 10px 1px #ccc;
}
.BookList ul li:hover{
    background: #eee;
}
#BookContent .BookBox{
    width: 86px;
    height: 122px;
    background: #eee;
    border-radius: 4px;
    margin: 18px;
    display: inline-block;
    background: url("../image/book/s28919020.png");
    box-shadow: 0 2px 2px rgba(116, 116, 116, 0.6);
    background-size:contain;
    float: left;
}
#BookContent .BookBox:hover{
    transition: .4s;
    box-shadow: 0 2px 10px rgba(116, 116, 116, 0.6);
}
#BookContent .BookList_text{
    position: relative;
    top: 20px;
    line-height: 24px;
}
#BookContent .BookList_text a{
    display: block;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#BookContent .BookList_name{
    color: #333;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}
#BookContent .BookList_name:hover{
    color: #ff4b5b;
}
#BookContent .BookList_section{
    font-size: 14px;
    color: #666;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#BookContent .BookList_time{
    color: #999;
    font-size: 12px;
}
#BookContent .BookList_intro{
    color: #999;
}
#BookContent .BookSearch .starBox{
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
}
#BookContent .BookSearch .starBox span{
    width: 66px;
    height: 28px;
    display: inline-block;
    color: #ff4b5b;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ff4b5b;
    border-radius: 4px;
}
#BookContent .BookSearch .starBox .active{
    background-color: rgba(255, 75, 91, 0.84);
    color: #fff;
}
#BookContent .BookSearch .starBox .starClick{
    background: rgba(255, 75, 91, 0.8);
    color: #fff;
}
/********************************************分页菜单*************************************************************************/
.container {
    width: 100%;
    background: #fdfdfd;
    margin: 2rem auto;
    border-radius: 0.2rem;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.container:after {
    clear: both;
    content: "";
    display: table;
}
.container ul {
    width: 100%;
}
.large ul{
    font-size: inherit;
}
.large ul,.large li {
    list-style: none;
    display: inline;
    padding-left: 4px;
}
.large a:hover{
    color: #fdfdfd;
    background-color: #f9714d;
    border: solid 1px #f9714d;
}
.large a.active{
    color: #fdfdfd;
    background-color: #f9714d;
    border: solid 1px #f9714d;
}
.large li:first-child {
    padding-right: 32px;
}
.large li:first-child a:after {
    content: "<";
}
.large li:nth-child(2) {
    counter-reset: pagination;
}
.large li:last-child {
    padding-left: 32px;
}
.large li:last-child a:after {
    content: ">";
}
.large li a {
    border: solid 1px #d6d6d6;
    border-radius: 0.2rem;
    color: #757575;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
}
.large li a:after {
    content: attr(data-page);
}
.large li a {
    display: none;
}
.large li:first-child a {
    display: inline-block;
}
.large li:first-child a:after {
    content: "<";
}
.large li:nth-child(2) a {
    display: inline-block;
}
.large li:nth-child(3) a {
    display: inline-block;
}
.large li:nth-child(4) a {
    display: inline-block;
}
.large li:nth-child(5) a {
    display: inline-block;
}
.large li:nth-child(6) a {
    display: inline-block;
}
.large li:nth-child(7) a {
    display: inline-block;
}
.large li:nth-child(8) a {
    display: inline-block;
}
.large li:nth-child(9) a {
    display: inline-block;
}
.large li:last-child a {
    display: inline-block;
}
.large li:last-child a:after {
    content: ">";
}
.large li:nth-last-child(2) a {
    display: inline-block;
}
.large li:nth-last-child(3) {
    display: inline-block;
}
.large .point:after {
    padding: 0 4px 0 8px;
    content: attr(data-int);
}
/*********************************************目录列表***********************************************/
.toptitle{
    border-bottom: 1px solid #eee;
    text-align: center;
    line-height: 38px;
    min-width: 800px;
}
.toptitle h3:nth-of-type(1){
    font-size: 14px;
    color: #999;
}
.toptitle h3:nth-of-type(2){
    color: #666;
}
.catalogList{
    font-size: 16px;
}
.catalogList ul{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-flow: row wrap;
}
.catalogList ul li{
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    flex: 0 0 25%;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: center;
    line-height: 36px;
}
.catalogList ul li a{
    color: #333;
    transition: .2s;
}
.catalogList ul li a:hover{
    color: #ff4b5b;
}
